@import './../../../core/constants/styles/vsp-pallete.scss';

.text {
    font-size: 0.8rem;
    color: $vsp-platinum;
};

.faded-text {
    font-size: 0.8rem;
    color: $vsp-silver;
};

.title {
    font-size: 2.4rem;
    color: $vsp-platinum;
};